<div id='persons'>
	this is persons part.
	<div id='search-person'>
		<p>Search By:<br>
			<label for='first_name'>FirstName</label>
			<input type="text" class="form-control" id="first_name" required [(ngModel)]="searchterm.first_name" name="first_name">
			<label for='last_name'>LastName</label>
			<input type="text" class="form-control" id="last_name" required [(ngModel)]="searchterm.last_name" name="last_name">
		</p>
	<button class="btn btn-success" (click)="searchByTerm()">Search</button>
	</div>
	<div id='person-list'>
		<button (click)="prevPage()">Previous</button>
		<button (click)="nextPage()">Next</button>
		<br>
		<a *ngFor="let person of persons" class='person-block'>
			<div>
				<div>FirstName: {{person.first_name}}</div>
				<div>LastName: {{person.last_name}}</div>
				<div>Street: {{person.address.address}}</div>
				<div>Zip: {{person.address.zip}}</div>
				<div>State: {{person.address.state}}</div>
				<div>Country: {{person.address.country}}</div>
				<!-- {{person.address}} -->
				<button class="delete" (click)="delete(person)">Delete</button>
				<button>Update</button>
			</div>
		</a>
	</div>


	<div>
<!-- 	  <p>New Person: </p> -->
<!-- 	  <label>Name:</label> <input #personName />
	  <label>Address: </label> <input #personAddress />
	  <button (click)="add(personName.value); personName.value=''">
	    Add
	  </button>
 -->
	  <person-form (childEvent)="addPerson($event)"></person-form>
	</div>


</div>